@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.hide-scroll::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
.unset_input {
  all: unset;
}

@layer components {
  #delete-project-icon > svg {
    @apply animate-none transform-none;
  }
  .alert-cancel-btn {
    @apply bg-slate-500 hover:bg-slate-700 p-1 rounded-md;
  }
  .alert-content {
    @apply bg-black text-compText fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[90vw] max-w-lg max-h-[85vh] flex flex-col items-center p-4 pb-8 border-2 border-taskView rounded-md space-y-6 font-manrope;
  }
  .project-header {
    @apply bg-black flex justify-between items-center;
  }
  .header {
    @apply bg-black flex justify-center;
  }
  /* Applies to all dropdown menu icons */
  [data-state="open"] > svg {
    @apply rotate-180 transition duration-[125] ease-in-out;
  }
  [data-state="closed"] > svg {
    @apply transition duration-[125] ease-in-out;
  }
  /* Only applies to project menu icon */
  [data-state="open"] > #menu-icon {
    @apply rotate-90 transition duration-[125] ease-in-out;
  }
  [data-state="closed"] > #menu-icon {
    @apply transition duration-[125] ease-out;
  }
  /* Applies to category accordion reveal */
  #category-slider[data-state="open"] {
    @apply animate-slideDown;
  }
  #category-slider[data-state="closed"] {
    @apply animate-slideUp;
  }
}
